extends layout
block content
  .w3-container
    if loggedIn
            img(src="https://image.ibb.co/dndRy8/lockers_Logo.png")
    else
      
      ul
        img(src="https://image.ibb.co/dndRy8/lockers_Logo.png")
          
      a(href="/login")    
            img(src="https://image.ibb.co/j4spko/loginbutton.png")
